node_modules
src
test
npm-debug.log
.travis.yml
.gitignore
tsconfig.json
tslint.json
yarn.lock
coverage
.nyc_output
.DS_Store
.idea
*.unittest.js
*.ts
*.js.map
!*.d.ts
.autod.conf.js
.editorconfig
.eslintignore
.eslintrc
.npmrc
appveyor.yml
